.Contact {
  display: block;
  min-height: 85vh;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  padding: 20px 10px;
  text-align: center;
  margin-top: 15px;
}

.Message {
  display: block;
  width: 250px;
  margin: auto;
  color: white;
  padding: 1px;
  border-radius: 4px;
  margin-top: 10px;
  transition: display 0.2s;
}

.SuccessMessage {
  background-color: orange;
}

.ErrorMessage {
  background-color: red;
}

.Icon {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  padding: 3px;
}

.Icon:hover {
  opacity: 60%;
}
